*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
}

.debug{
  background-color: rgba(0, 255, 21, 0.2);
  border: 1px solid #000;
  min-height: 50px;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}





/* HEADER INIZIO */
.menu{
  font-size: 14px;
  background-color: #000;
  padding-left: 15px;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 85px);
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logo-desktop img{
  margin-top: 15px;
  width: 65%;
  height: 65%;
}
.logo-mobile{
  display: none;
}

.home{
  color: rgb(184, 184, 184);
}
.home img{
  width: 10%;
  height: 10%;
}

.home div{
  margin-top: 10px;
}


.home div i{
  font-size: 18px;
}


.home div span{
  margin: 10px;
}

.playlist{
  color: rgb(184, 184, 184);
  margin-top: 20px;
}

.playlist ul{
  list-style: none;
}

.playlist ul li{
  margin-top: 10px;
  
}

.playlist ul li i{
  font-size: 40px;
  vertical-align: middle;
  margin-right: 10px;
}




/* .menu-bottom{
  
  color: rgb(184, 184, 184);
}

.download{
  height: 20px;
}

.download img{
  width: 20%;
  height: 20px;
}

.utente img{
  width: 25%;
  height: 25%;
} */


/* HEADER FINE */





/* MAIN INIZIO */
h2{
  color: white;
  margin-top: 30px;
  margin-left: 15px;
}



.upgrade{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #080b12;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  padding-right: 5px;
  left: 230px;
  height: 90px; 
  width: calc(100vw - 230px);
}

.btn-upgrade{
  color: white;
  border: 1px solid white;
  font-size: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 20px;
}

.contenuto{
  background-color: #141922;
  position: fixed;
  padding-top: 90px;
  top: 0;
  bottom: 0;
  left: 230px;
  width: calc(100vw - 230px);
  height: calc(100vh - 85px);
  overflow: auto;
}

.contenuto div nav{
  color: rgb(184, 184, 184);
  
}
.contenuto div nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 10px;
}
.contenuto div nav ul li{
  font-size: 10px;
  margin-right: 15px;
}

.sottotitolo{
  color: grey;
  font-size: 13px;
  margin-left: 15px;
}




/* ROW INIZIO */
.row{
  margin: 10px 25px 30px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


.card{
  max-width: 150px;
  margin-right: 10px;
}

.card img{
  margin-top: 15px;
  width: 150px;
  height: 150px;
}

.card p{
  color: white;
  text-align: center;
  font-size: 13px;
}

.card p span{
  display: block;
  color: grey;
}



.card-round{
  max-width: 150px;
  margin-right: 10px;

}

.card-round img{
  margin-top: 15px;
  width: 150px;
  height: 150px;
  border-radius: 50%
  
}

.card-round p{
  color: white;
  text-align: center;
  font-size: 13px;
}

.card-round p span{
  display: block;
  color: grey;
}
/* ROW FINE*/
/* MAIN FINE */


/* FOOTER INIZIO */
.opzioni-brano{
  background-color: #282828;
  height: 85px;
  width: 100%;
  z-index: 999;
  
  position: fixed;
  left: 0;
  bottom: 0;
}
/* FOOTER FINE */







/* RESPONSIVE INIZIO */
@media all and (max-width:540px){
  .menu{
    width: 50px;
  }

  .contenuto,
  .upgrade{
    left: 50px;
    width: calc(100vw - 50px);
  }

  .logo-desktop{
    display: none;
  }

  .logo-mobile{
    display: block;
  }
  

  .home img, .logo-mobile img{
    width: 80%;
    height: 80%;
  }


  .home div span,
  .playlist{
    display: none;
  }

}


@media all and (max-width:640px){

}


@media all and (max-width:880px){

}


@media all and (max-width:1440px){

}
/* RESPONSIVE FINE */