*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.debug{
  background-color: rgba(0, 255, 21, 0.2);
  border: 1px solid #000;
  min-height: 50px;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER INIZIO */
.menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  height: calc(100vh - 85px);
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* HEADER FINE */


/* MAIN INIZIO */
.upgrade{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 230px;
  height: 90px;
  width: 100%;
}

.testo-lungo{
  position: fixed;
  padding-top: 90px;
  top: 0;
  bottom: 0;
  left: 230px;
  width: 82%;
  height: calc(100vh - 85px);
  overflow: auto;
}

/* MAIN FINE */


/* FOOTER INIZIO */
.opzioni-brano{
  height: 85px;
  width: 100%;
  z-index: 999;
  position: fixed;
  left: 0;
  bottom: 0;
}
/* FOOTER FINE */


/* RESPONSIVE INIZIO */
@media all and (max-width:540px){
  .menu{
    width: 50px;
  }

  .testo-lungo,
  .upgrade{
    left: 50px;
  }






  .home div span,
  .playlist{
    display: none;
  }

}


@media all and (max-width:640px){

}


@media all and (max-width:880px){

}


@media all and (max-width:1440px){

}
/* RESPONSIVE FINE */